@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
    }

    .text-center {
        text-align: center;
        margin-top: 50px;
    }

    .display-4 {
        color: #007bff;
    }

    #welcome-text {
        font-size: 18px;
        margin-top: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bun venit la Atelierul Nostru Auto!</h1>
    <img id="welcome-image" src="DALL_E_2024-01-13_17.32.33_-_Create_a_auto_shop_logo._Make_it_cartoony._No_text-removebg-preview(1).png" alt="Imagine Atelier Auto">
</div>
