@page
@model ProiectRetele.Pages.Programari.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta inregistrare?</h3>
<div>
    <h4>Programare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programare.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Data)
        </dd>
        <dt class="col-sm-2">
            Numarul de inmatriculare
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Masina.NumarInmatriculare)
        </dd>
        <dt class="col-sm-2">
            Mecanicul responsabil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programare.Mecanic.Nume)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Programare.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
